- name: Prepare nodes
  hosts: sense_nodes

  roles:
    - role: qlik.sense.download
    - role: qlik.sense.win_firewall

  tasks:
    - name: Create Qlik Sense service account
      ansible.windows.win_user:
        name: qservice
        password: "{{ qlik_service_password }}"
        password_never_expires: yes
        user_cannot_change_password: yes
        groups:
          - Administrators
        groups_action: add

- name: Deploy central node
  hosts: central_node

  pre_tasks:
    - name: Create cluster root directory
      ansible.windows.win_file:
        path: C:\QlikShare
        state: directory
      when: "'central_node' in group_names"

    - name: Create cluster share
      ansible.windows.win_share:
        name: QlikShare
        description: Qlik Sense cluster share
        path: C:\QlikShare
        list: no
        full: Administrators,qservice
      when: "'central_node' in group_names"

  roles:
    - role: qlik.sense.setup
      root_dir: \\{{ ansible_facts["netbios_name"] }}\QlikShare
      user_with_domain: '{{ ansible_facts["netbios_name"] }}\qservice'
      user_password: "{{ qlik_service_password }}"
      db_host: "{{ ansible_host }}"
      configure_db_listener: yes
      listen_addresses: "*"
      ip_range: ["0.0.0.0/0", "::/0"]

    - role: qlik.sense.site


- name: Deploy rim nodes
  hosts: rim_nodes

  vars:
    central_node: "{{ groups['central_node'] | first }}"

  roles:
    - role: qlik.sense.setup
      user_with_domain: '{{ ansible_facts["netbios_name"] }}\qservice'
      user_password: "{{ qlik_service_password }}"
      create_cluster: no
      db_host: "{{ hostvars[central_node]['ansible_facts']['hostname'] }}"
      install_local_db: no

    - role: qlik.sense.node
      node_name: "{{ inventory_hostname }}"
      node_hostname: "{{ inventory_hostname }}"
      node_central_inventory: "{{ central_node }}"
